.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin {
  padding: 2.4rem;
}
.card {
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
}
button {
  width: 7em;
  position: relative;
  height: 2.5em;
  border: 3px ridge var(--color-primary);
  outline: none;
  background-color: transparent;
  color: #555;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.987);
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.987);
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}

button:hover {
  box-shadow: inset 0px 0px 25px var(--color-primary-dark);
}
