.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem;
}
.card {
  border: none;
}
figure img {
  height: 40vh;
  // width: 50vw;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    72.13% 100%,
    35.75% 99.58%,
    0% 100%,
    0% 78.63%
  );
}
// .login-box {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 400px;
//   padding: 40px;
//   transform: translate(-50%, -50%);
//   background:#fff;
//   box-sizing: border-box;
//   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
//   border-radius: 10px;
// }

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 35vw;
  padding: 10px 0;
  font-size: 16px;
  color: var(--color-primary-dark);
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid var(--color-primary-dark);
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #555;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--color-primary);
  font-size: 12px;
}
button {
  width: 7em;
  position: relative;
  height: 2.5em;
  border: 3px ridge var(--color-primary-dark);
  outline: none;
  background-color: transparent;
  color: #555;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #fff;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #fff;
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}

button:hover {
  box-shadow: inset 0px 0px 25px var(--color-primary);
}
