<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Master</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

      <div class="btn-group">
        <!-- <button
          type="button"
          class="btn custom"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="ri-menu-add-fill"></i>
        </button> -->
        <button
          data-bs-toggle="dropdown"
          aria-expanded="false"
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <p class="text-primary dropdown-item disabled">
              <img src="./../../assets/img/man.png" width="20px" alt="" />
              {{ user?.employeeName }}
            </p>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <button class="dropdown-item" type="button">
              <i class="ri-profile-line"></i> Profile
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              (click)="logoutMaster()"
              type="button"
            >
              <i class="ri-logout-box-line"></i>
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<mat-tab-group
  animationDuration="100ms"
  mat-stretch-tabs="false"
  mat-align-tabs="start"
>
  <mat-tab class="background-master" label="Register Employee">
    <div class="registerEmployee">
      <ng-template matTabContent>
        <app-employee-register></app-employee-register>
      </ng-template>
    </div>
  </mat-tab>
  <mat-tab label="Register Mentor">
    <ng-template matTabContent> master </ng-template>
  </mat-tab>
  <!-- <mat-tab label="Third">  </mat-tab> -->
</mat-tab-group>
