.ri-logout-box-line {
  color: red;
  // stroke: red;
}
.ri-profile-line {
  color: blue;
}
.custom {
  background-color: var(--color-primary-dark);
  border-radius: none;
}

.ri-menu-add-fill {
  color: aliceblue;
}

