<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <div class="align">
      <figure>
        <img src="./../../../assets/img/logo.jpg" alt="" />
      </figure>

      <a class="navbar-brand text-light" href="#">Tracker</a>
    </div>
  </div>

  <!-- <form
    *ngIf="stateService.loginStatusObservable | async"
    class="d-flex"
    role="search"
  >
    <button class="btn btn-outline-danger" (click)="logout()" type="submit">
      Logout
    </button>
  </form> -->
</nav>
